<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA34smb3hhkn_YpjRvA7cZCMU1MdwrAaPo</string>
	<key>GCM_SENDER_ID</key>
	<string>517573768918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FTS.GP-iOS</string>
	<key>PROJECT_ID</key>
	<string>gradpro-15169</string>
	<key>STORAGE_BUCKET</key>
	<string>gradpro-15169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517573768918:ios:4064c776ee769f35aefb77</string>
</dict>
</plist>